*{
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 60%;
  background: rgba(0,0,0, 0.1);
  @include mQ(1024px){
    font-size: 70%;
  }
  @include mQ(1200px){
    font-size: 80%;
  }
  @include mQ(1400px){
    font-size: 90%;
  }

  body {
    font-size: 100%;
    color: $font-color;
    position: relative;
  }
}

#container{
  background: $gradient;
  width: nth($main-width, 1);
  height: calc(#{nth($main-width, 1)} * 0.5625);
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  font-family: 'Invasion2000';
  border-radius: 4px;

  @include mQ(1024px) {
    width: nth($main-width, 2);
    height: calc(#{nth($main-width, 2)} * 0.5625);
  }
  @include mQ(1200px) {
    width: nth($main-width, 3);
    height: calc(#{nth($main-width, 3)} * 0.5625);
  }
  @include mQ(1400px) {
    width: nth($main-width, 4);
    height: calc(#{nth($main-width, 4)} * 0.5625);
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;


    h1 {
      font-family: 'Zero Velocity BRK';
      text-align: center;
      width: 100%;
      font-size: 4em;
      padding-top: 0.2em;
    }
  }
  .row-1{
    height: 10%;
  }
  .row-2{
    height: 90%;
  }

}
#gameOver{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: rgb(255,255,255);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 20em;
    font-family: "Zero Velocity BRK";
    color: rgb(175, 17, 28);
  }
}
