*{
  box-sizing: border-box;
  user-select: none;
}
html {
  font-size: 60%;
  background: rgba(0,0,0, 0.1);
  @include mQ(1024px){
    font-size: 70%;
  }
  @include mQ(1200px){
    font-size: 80%;
  }
  @include mQ(1400px){
    font-size: 90%;
  }

  body {
    font-size: 100%;
    color: $font-color;
    position: relative;
  }
}

#container{
  background: $gradient;
  width: nth($main-width, 1);
  height: calc(#{nth($main-width, 1)} * 0.62);
  margin: 10vh auto;
  display: flex;
  flex-direction: column;
  font-family: 'Invasion2000';
  border-radius: 4px;

  @include mQ(1024px) {
    width: nth($main-width, 2);
    height: calc(#{nth($main-width, 2)} * 0.62);
  }
  @include mQ(1200px) {
    width: nth($main-width, 3);
    height: calc(#{nth($main-width, 3)} * 0.62);
  }
  @include mQ(1400px) {
    width: nth($main-width, 4);
    height: calc(#{nth($main-width, 4)} * 0.62);
  }

  .row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;


    h1 {
      font-family: 'Zero Velocity BRK';
      text-align: center;
      width: 100%;
      font-size: 5em;
      text-shadow: rgba(250,250,250, 0.3) .05em 0.05em 0.1em;
      //padding-top: 0.4em;

    }
  }
  .row-1{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255,255,255,.1);
    position: relative;
    #options{
      position: absolute;
      top: 15%;
      right: 2%
    }
    .fas{
      font-size: 1.3em;
      color: white;
      padding: 0.2em;
      margin: 0.4em 0.2em;
      cursor: pointer;
    }
  }
  .row-2{
    height: 85%;
  }

}
#gameOver{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0, 0.8);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  h1{
    font-size: 20em;
    font-family: "Zero Velocity BRK";
    color: rgb(175, 17, 28);
  }
}
