#game{
  @include box;
  width: 76%;
  background: #493977 #{$background-url} 0% 0% / cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: none;


  #cursor{
    width: 35px;
    height: 35px;
    background: $cursor-url 0% 0%/contain;
    position: absolute;
    display: none;

    @include mQ(1024px) {
      width: 40px;
      height: 40px;
    }
    @include mQ(1200px) {
      width: 45px;
      height: 45px;
    }
    @include mQ(1400px) {
      width: 50px;
      height: 50px;
    }
  }



  @for $i from 1 through 15{
    #box-#{$i}{
      width: calc(100% / 5);
      height: calc(100% / 3);
      position: relative;
    }
  }

  .reload{
    animation: reload 1.5s 1 linear;
  }
  #countDown{
    display: none;
    position: absolute;
    font-size: 10em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
  #countDown.countAnimation{
    display: block;
    animation: countDown .5s 5 linear;
  }

}
@keyframes reload {
  5%{ transform: translateY(-40%)}
  10%{ transform: translateY(0%)}
  30%{ transform: translateY(0%)}
  35%{ transform: translateY(40%)}
  40%{ transform: translateY(-20%)}
  60%{ transform: translateY(20%)}
  80%{ transform: translateY(0%)}
}
@keyframes countDown {
  80%{
    top: 30%;
    font-size: 50em
  }
  100%{
    top: 25%;
    font-size: 60em;
    opacity: 0;
  }
}