#game{
  @include frame;
  width: 76%;
  background: #493977 #{$background-url} 0% 0% / cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  cursor: none;


  #cursor{
    width: 35px;
    height: 35px;
    background: $cursor-url 0% 0%/contain;
    position: absolute;
    display: none;
    z-index: 999;
    pointer-events: none;

    @include mQ(1024px) {
      width: 40px;
      height: 40px;
    }
    @include mQ(1200px) {
      width: 45px;
      height: 45px;
    }
    @include mQ(1400px) {
      width: 50px;
      height: 50px;
    }

  }
  .alien{
    position: absolute;
    border: 1px solid white;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 24%;
    border-radius: 50%;
    &.start{
      animation: alienMove1 2s infinite linear alternate;
    }
    img{
      width: 100%;
      height: auto;
      position: absolute;
      top: -20%

    }

  }



  .box{
    width: calc(100% / 5);
    height: calc(100% / 3);
    position: relative;
    //border: 1px solid white;
    }


  .reload{
    animation: reload 1.5s 1 linear;
  }
  #countDown{
    display: none;
    position: absolute;
    font-size: 10em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
  #countDown.countAnimation{
    display: block;
    animation: countDown .5s 5 linear;
  }

}
@keyframes reload {
  5%{ transform: translateY(-40%)}
  10%{ transform: translateY(0%)}
  30%{ transform: translateY(0%)}
  35%{ transform: translateY(40%)}
  40%{ transform: translateY(-20%)}
  60%{ transform: translateY(20%)}
  80%{ transform: translateY(0%)}
}
@keyframes countDown {
  80%{
    top: 30%;
    font-size: 50em
  }
  100%{
    top: 25%;
    font-size: 60em;
    opacity: 0;
  }
}

@keyframes alienMove1 {
  30%{
    top: 20%;

    left: 80%;

  }
  70%{
    top: 80%;
    left: 20%;
  }
  100%{
    top: 80%;
    left: 80%;
  }
}