#game{
  @include frame;
  width: 76%;
  background: #493977 #{$background-url} 0% 0% / cover;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  //cursor: none;


  #cursor{
    width: 35px;
    height: 35px;
    background: $cursor-url 0% 0%/contain;
    position: absolute;
    display: none;
    z-index: 999;
    pointer-events: none;

    @include mQ(1024px) {
      width: 40px;
      height: 40px;
    }
    @include mQ(1200px) {
      width: 45px;
      height: 45px;
    }
    @include mQ(1400px) {
      width: 50px;
      height: 50px;
    }

  }
  .alien{
    position: absolute;
    //border: 1px solid white;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 24%;
    border-radius: 50%;

    &.animation1{
      &.level1{
        animation: alienMove1 3.7s infinite linear;
      }
      &.level2{
        animation: alienMove1 3.3s infinite linear;
      }
      &.level3{
        animation: alienMove1 3s infinite linear;
      }
    }

    &.animation2{
      &.level1{
        animation: alienMove2 3.7s infinite linear;
      }
      &.level2{
        animation: alienMove2 3.3s infinite linear;
      }
      &.level3{
        animation: alienMove2 3s infinite linear;
      }
    }
    &.animation3 {
      &.level1 {
        animation: alienMove3 3.7s infinite linear alternate;
      }
      &.level2 {
        animation: alienMove3 3.3s infinite linear alternate;
      }
      &.level3 {
        animation: alienMove3 3s infinite linear alternate;
      }
    }

    img{
      width: 100%;
      height: auto;
      position: absolute;
      top: -20%;
    }
  }
  .box{
    width: calc(100% / 5);
    height: calc(100% / 3);
    position: relative;
    //border: 1px solid white;
    }


  .reload{
    animation: reload 2s 1 linear;
  }
  .shot{
    animation: shot 0.45s 1 linear;
  }
  #countDown{
    display: none;
    position: absolute;
    font-size: 8em;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

  }
  #countDown.countAnimation{
    display: block;
    animation: countDown .5s 1s 5 linear;
  }

}
@keyframes reload {
  5%{ transform: translate(20%, -20%)}
  10%{ transform: translate(20%, 0%)}
  30%{ transform: translate(-10%, 20%)}
  35%{ transform: translate(10%, 40%)}
  40%{ transform: translate(0%, -20%)}
  60%{ transform: translate(0%, 20%)}
  80%{ transform: translate(0%, 0%)}
}
@keyframes shot {
  10%{ transform: translate(10%, -80%)}
  20%{ transform: translate(20%, -10%)}
  40%{ transform: translate(0, 0)}
}
@keyframes countDown {
  80%{
    top: 30%;
    font-size: 50em
  }
  100%{
    top: 25%;
    font-size: 60em;
    opacity: 0;
  }
}

@keyframes alienMove3 {
  30%{
    top: 20%;

    left: 80%;

  }
  70%{
    top: 80%;
    left: 20%;
  }
  100%{
    top: 80%;
    left: 80%;
  }
}
@keyframes alienMove2 {
  10%{
    top: 20%;

    left: 30%;

  }
  50%{
    top: 80%;
    left: 80%;
  }
  60%{
    top: 80%;
    left: 70%;
  }
  100%{
    top: 20%;
    left: 20%;
  }
}
@keyframes alienMove1 {
  5%{
    top: 15%;

    left: 25%;

  }
  25%{
    top: 15%;
    left: 75%;
  }
  30%{
    top: 20%;
    left: 80%;
  }
  50%{
    top: 75%;
    left: 80%;
  }
  55%{
    top: 80%;
    left: 75%;
  }
  75%{
    top: 80%;
    left: 25%;
  }
  80%{
    top: 75%;
    left: 20%;
  }
  100%{
    top: 20%;
    left: 20%;
  }
}