#info{
  @include frame;
  width: 22%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(68, 68, 68, 0.4);



  button{
    width: 80%;
    background: $font-color;
    color: #493977;
    font-size: 2em;
    font-family: 'Invasion2000';
    margin-bottom: 2em;
    border-radius: 4px;
    padding: .5em;

    &:active, &:focus{
      outline: none;
    }
  }
  h2{
    text-align: center;
    font-size: 3.5em;
    margin-top: 0.3em;
    text-shadow: rgba(250,250,250, 0.3) 3px 3px 3px;
  }
}