@font-face {
  font-family: 'Zero Velocity BRK';
  src: url('../../fonts/ZeroVelocityBRK.woff2') format('woff2'),
  url('../../fonts/ZeroVelocityBRK.woff') format('woff'),
  url('../../fonts/ZeroVelocityBRK.ttf') format('truetype'),
  url('../../fonts/ZeroVelocityBRK.svg#ZeroVelocityBRK') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Invasion2000';
  src: url('../../fonts/Invasion2000.woff2') format('woff2'),
  url('../../fonts/Invasion2000.woff') format('woff'),
  url('../../fonts/Invasion2000.ttf') format('truetype'),
  url('../../fonts/Invasion2000.svg#Invasion2000') format('svg');
  font-weight: normal;
  font-style: normal;
}

@mixin box {
  margin-top: 0.3em;
  height: 94%;
  border-radius: 4px;
}


@mixin mQ($width) {
  @media only screen and (min-width: $width) {
    @content
  }
}

$main-width: 1400px, 1000px;
$background-url: url("../../images/rsz_216281.jpg");
$cursor-url: url("../../images/Sight.png");